*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
.classpath
.project
proguard/
*.iml
*.ipr
*.iws
.idea/
.gradle
app/build/
.DS_Store
build/
projectFilesBackup/
# Secret property
gradle.properties
