# Android Studio files
/build

build/
*/build
*.iml
*.iws
*.ipr
.idea/
.gradle/
local.properties

manifest-merger-release-report.txt

# Secret property
gradle.properties

# Mac OS .DS_Store file
.DS_Store

#Google Analytics Settings
src/main/res/xml/global_tracker.xml

*.json