<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shts.jp.android.nogifeed">
    <!-- (before)android.shts.jp.nogifeed -->
    <!-- TODO: maybe need to change pakagename to shts.jp.android.nogifeed (written in app.gradle) -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- for parse push service -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
      shts.jp.android.nogifeed
    -->
    <permission android:protectionLevel="signature"
        android:name="shts.jp.android.nogifeed.permission.C2D_MESSAGE" />
    <uses-permission android:name="shts.jp.android.nogifeed.permission.C2D_MESSAGE" />
    <!--
    <permission android:protectionLevel="signature"
        android:name="android.shts.jp.nogifeed.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.shts.jp.nogifeed.permission.C2D_MESSAGE" />
    -->
    <application
        android:name=".NogiFeedApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.DeepLinkAcivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- deep link from default -->
                <data android:scheme="http" android:host="blog.nogizaka46.com" android:path="/smph/"/>
                <!-- deep link from chrome -->
                <data android:scheme="intent" android:host="blog.nogizaka46.com" android:path="/smph/"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.MemberDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.BlogActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/action_settings"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/action_about"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.AllMemberActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.NewsBrowseActivity"
            android:label="@string/action_news"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.MemberDetailActivity2"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.MemberListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <!-- authorities do not change -->
        <provider
            android:authorities="android.shts.jp.nogifeed.providers.nogifeed"
            android:name="shts.jp.android.nogifeed.providers.NogiFeedProvider"/>

        <!-- for parse push service -->
        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <!--
                <category android:name="android.shts.jp.nogifeed" />
                -->
                <category android:name="shts.jp.android.nogifeed" />
            </intent-filter>
        </receiver>

        <!-- for receive parse push -->
        <receiver android:name="shts.jp.android.nogifeed.receivers.FromParseReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.shts.jp.nogifeed.UPDATE_STATUS"/>
            </intent-filter>
        </receiver>

        <!-- for Widget -->
        <receiver android:name="shts.jp.android.nogifeed.widget.ProfileWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/profile_widget" />
        </receiver>
        <receiver android:name=".widget.ProfileWidgetIntentReceiver">
            <intent-filter>
                <action android:name="shts.jp.android.nogifeed.widget.ProfileWidgetProvider.CLICK" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/profile_widget" />
        </receiver>
    </application>

</manifest>
