<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.shts.jp.nogifeed" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".NogiFeedApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.DeepLinkAcivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- deep link from default -->
                <data android:scheme="http" android:host="blog.nogizaka46.com" android:path="/smph/"/>
                <!-- deep link from chrome -->
                <data android:scheme="intent" android:host="blog.nogizaka46.com" android:path="/smph/"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.MemberDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.BlogActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/action_settings"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/action_about"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.MemberListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <provider
            android:authorities="android.shts.jp.nogifeed.providers.nogifeed"
            android:name="android.shts.jp.nogifeed.providers.NogiFeedProvider"/>
    </application>

</manifest>
